/* Styles spécifiques pour MainScreen.js */
*{
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  overflow: auto; /* Ajoute le défilement vertical uniquement si nécessaire */
}

.slidemenu {
  position: fixed;
  background-color: #282836;
  left: 0;
  top: 0;
  bottom: 0;
  width: 11%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
}


header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 16px;
}

.logo {
  width: 100%;
  height: 3rem;
}

.search-section {
  padding-left: 0.75rem;
  color: #fff;
  width: 90%;
  text-align: left; 
}

h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.70rem;
  margin-top: 0.4rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input[type='text'] {
  height: 0.5rem;
  width: 10rem;
  padding: 0.5rem;
  background-color: #121217;
  font-size: 1rem;
  border-radius: 50px;
  border-style: none;
}

.settings {
  margin-left: 16px;
  height: 2rem;
  width: 2rem;
}